.nupud-card {
    display: none;
}

.nimed-card {
    display: none;
}

.vooru-voitja-card {
    display: none;
}

.mangu-voitja-card {
    display: none;
}

.uuesti-card {
    display: none;
}

.skoor {
    visibility: hidden;
}

/* #mangi-uuesti-btn {
    visibility: hidden;
}

#uued-mangijad-btn {
    visibility: hidden;
} */

ul:empty {
    display: none;
}
