.nupud-card {
    display: none;
}

.nimed-card {
    display: none;
}

.vooru-voitja-card {
    display: none;
}

.mangu-voitja-card {
    display: none;
}

.uuesti-card {
    display: none;
}

.skoor {
    visibility: hidden;
}

ul:empty {
    display: none;
}
